.topAboutUs {
  background: url(../images/aboutUs/BackgroundPhotoAboutUs.jpeg);
  background-size: cover;
  background-position: 110% 23%;
  height: 70vh;
}

body {
  color: #0a3641;
}

ul.breadcrumbAboutUs {
  padding: 10px 100px;
  list-style: none;
  color: #0a3641;
}

ul.breadcrumbAboutUs li {
  display: inline;
  font-size: 20px;
  font-weight: bold;
}

ul.breadcrumbAboutUs li + li:before {
  padding: 8px;
  color: #0a3641;
  content: "/\00a0";
}

ul.breadcrumbAboutUs li a {
  color: #0a3641;
  text-decoration: none;
}

.AboutUsTextBox {
  color: #0a3641;
  font-size: 20;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10vh;
  width: 50em;
  text-align: center;
}

.aboutUsContainer1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 90vh;
}

.aboutUsBox1 {
  flex: 1;
  max-width: 50%;
  background-image: url(../images/aboutUs/aboutUs1.jpeg);
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
}

.aboutUsBox2 {
  flex: 1;
  text-align: center;
}

.aboutUsBox2 h2 {
  margin-top: 10vh;
}
.aboutUsBox2 p {
  padding-top: 1.5vh;
  padding-left: 10vh;
  padding-right: 10vh;
}

.aboutUsContainer2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 90vh;
  padding-bottom: 15vh;
}

.aboutUsBox3 {
  flex: 1;
  text-align: center;
}

.aboutUsBox3 h2 {
  margin-top: 10vh;
}

.aboutUsBox3 p {
  padding-top: 1.5vh;
  padding-left: 10vh;
  padding-right: 10vh;
}

.aboutUsBox4 {
  width: 50%;
  background-image: url(../images/aboutUs/aboutUs2.jpeg);
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
}

.textBoxContainer {
  display: flex;
  height: 40vh;
  width: 40vh;
  border: solid #0a3641 3px;
  background-color: #0a3641;
}
